body {
  background-color: #68aaba;
}

h1, h2, p {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

svg {
  color: white;
  font-size: 25px
}

.about-content {
  margin: 30px 200px 0px 200px
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 500px;
}

.projects, .github, .linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content:end;
  
}

.position-header-links {
  margin-right: 35px;
}

.project-imgs {
  height: 280px;
  width: 400px;
  border-right: 1px solid white;
}

.love-project, .quiz-project, .web-project {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  margin: 30px 60px;
}

.project-content {
  padding: 0px 10px;
  height: 280px;
}

.contact-info {
  margin: 40px 400px;
  border: 1px solid white;
}